<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Arrial</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/admin">Início</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-sm mt-2">
    <h3>Lista de Alunos do Curso {{curso}}</h3>

    <table class="table table-hover">
        <tr>
            <td>MATRÍCULA</td>
            <td>NOME</td>
            <td>E-MAIL</td>
            <td>CURSO</td>
            <td>STATUS</td>
            <td></td>
        </tr>
        {{#each alunos}}
            <tr>
                <td>{{matricula}}</td>
                <td>{{nome}}</td>
                <td>{{email}}</td>
                <td>{{curso}}</td>
                <td>
                    {{#if (igual status 0)}}
                        <span class="text-danger">Pendente</span>
                    {{else}}
                        <span class="text-success">Confirmado</span>
                    {{/if}}
                </td>
                <td>
                {{#if (igual status 0)}}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-confirmar" data-matricula="{{matricula}}" data-nome="{{nome}}" data-id="{{id}}" data-curso="{{curso}}" data-bs-toggle="modal" data-bs-target="#confirmarModal">
                        Confirmar
                    </button>
                {{else}}
                    <a class="btn btn-sm btn-success" href="/ingresso/listar/{{id}}">Ingressos</a>
                {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar presença de aluno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/aluno/presenca" method="post">
            <div class="modal-body">
                <input type="text" id="id" name="id" hidden="hidden">
                    <div class="row">
                        <div class="col">
                            <label for="matricula">MATRÍCULA</label>
                            <input type="text" name="matricula" id="matricula" class="form-control bg-body-secondary" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="nome">NOME</label>
                            <input type="text" name="nome" id="nome" class="form-control bg-body-secondary" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="nome">CURSO</label>
                            <input type="text" name="curso" id="curso" class="form-control bg-body-secondary" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="email">E-MAIL</label>
                            <input type="text" name="email" id="email" class="form-control" required>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
            </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function (){
        const botaoConfirmar = document.querySelectorAll('.btn-confirmar')

        botaoConfirmar.forEach(btn => {
            btn.addEventListener('click', () => {

                const id = btn.getAttribute('data-id')
                const matricula = btn.getAttribute('data-matricula')
                const nome = btn.getAttribute('data-nome')
                const curso = btn.getAttribute('data-curso')
                console.log('ID: ', id)
                console.log('NOME: ', nome)
                document.getElementById('id').value = id
                document.getElementById('matricula').value = matricula
                document.getElementById('nome').value = nome
                document.getElementById('curso').value = curso

            })
        })

    })
</script>